@model PizzaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pizza</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_form">
            <div class="form-group">
                <submit class="btn btn-primary"/>
            </div>
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>